.badge {
  background-color: tomato;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  color: white;
  font-weight: 600;
}

.new-badge {
  width: 14px;
  height: 14px;
  background-color: tomato;
  color: white;
  border-radius: 50%;
  font-size: 15px;
  text-align: center;
  padding: 5px 5px;
  margin-left: 5px;
}

.date-badge {
  width: 170px;
  height: 33px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 2px 2px;
  font-size: 12px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
